
$lightgrey-color: #E7ECEE;
$blue-color: #1873F3;
$lightblue-color: #B9D5FB;
$green-color: #2ad4ae;
$green-hover: #03c79b;
$background-grey: #f5f5f5;
$text-normal: #4a4a4a;
$white: #ffffff;
$grey-color: #ccc;
$black-color: #000;

$font-family: "Noto Sans HK", sans-serif;
$hide-block: none;
$display-block: block;

.container{
  background-color: #FFF;
}

.pending-assignment{
  color: #f5a623;
  margin: 5px

}


.squareUpload{
  border-radius: 10px;
  cursor: pointer;
  margin: 40px 0 40px 0;
  margin: 20px auto;
  border: 2px dashed $grey-color;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 30px;
  margin-top: 0px;
}


table {
    
    margin: 0 auto;
}

table td {
    overflow:hidden;
}

.tablecont {
    max-width: 1300px !important;
        width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: #FFF
}


.btn-outline-secondary{
  border-radius: 30px;

}

.react-date-picker__wrapper{
  border: none;
}
.react-time-picker__wrapper{
 border: none; 
}

.btn-rate-attorney{
  border-radius: 30px;
  margin-right: 10px;
  border-color: $green-color;
  color: $green-color;
  border-width: 1.3px;
  padding: 10px 15px
}

.btn-rate-attorney:hover{
  background-color: $green-color;
  border-color: $green-color;
}

img.edit-photo-img{
  width: 18px!important;
  height: 18px!important;
  position: absolute;
  margin-left: 55px!important;

}

.button-upcoming{
  border-radius: 13.5px;
  font-weight: bold;
}
.grey-check-icon{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.link-delete{
  text-align: center;
}

.home-popup-links{
    text-decoration: underline;
    cursor: pointer;
}

.RSPBprogressBar{
  width: 90%;
  display: inline-block;
}

.pointer{
  cursor: pointer
}

.navbar{
  background-color: #FFF;
}

.popup-profile{
  width: 50px;
}
.termsLabel{
  text-align: center;
  color: #000;
  text-decoration: underline;
}
.termaLabel a{
  color: #000;
}

body{
  background-color: $background-grey;
}
.mobile {
  display: none;
}
.desktop{
  display: block
}

.black{
  color: #000;
}

.nav-tabs{
  border: none;
  background-color: #FFF!important;
}

.tabs-control{
  flex-wrap: nowrap;align-items: center;justify-content: center ;font-size: 16px
}

.nav-tabs a {
  margin-left:10px;
}

.nav-link.active{
  border:none;
  border-bottom: 2.5px solid $green-color!important;
  color: $green-color!important;
  font-weight: bold;
  background-color: inherit!important;
}

.round-circle{
  width:75px;
  height: 75px;
  border-radius: 50%;
  margin: 20px
}

.bigInput{
  height:50px
}
.btn-profile{
  color: $green-color;
  border-color: $green-color;
  border-radius: 50px;
  border-width: 1.5px;
  padding: 10px;
  margin-top: 40px;
}

.btn-rounded{
  border-radius: 50px;
}


.appearanceState{
  margin: 0;
  padding: 2px;
}

.link-profile{
  margin-top: 35px;
  display: block;
  color: #4a4a4a;
  text-decoration: underline;
  cursor: pointer;
}

.p-profile{
  color: #4a4a4a
}

body {
  
  min-height: 100vh;
}
* { font-family: $font-family; }
.logo{
  margin:0 auto;
  text-align: center;
  img {
    height:30px;
  }
}
.clickable {
  cursor:pointer;
}
a { cursor:pointer; color: $green-color }
a:hover,a:focus{text-decoration: none!important; outline:none;}
.body-container {
  background-color: $background-grey;
}
.define-role-container{
  display:block;
}

.center{
  text-align: center;
}

.centered {
  text-align:center;margin:0 auto;
}
.header-comp {
  background-color: $white;
}
.main-body {
  padding-top:30px;
}

.modal-popup{
 padding: 20px; height: auto;
}
.display{ display: $display-block; margin-bottom: 20px; }

@media (min-width: 992px){
  .container {
    max-width:800px!important;
  }
}
@media (min-width: 1200px){
  .container {
    max-width:800px;
  }
}
@media screen and (max-width:768px){

}
.hide{ display: $hide-block; }
.form-control{ margin-bottom: 10px; }
.title { font-size: 22pt;font-weight: 700; }
.green-color,.green {color: $green-color;}
.green-background {background-color: $green-color}

.profileInputs{ margin: 10px 15px 0px 15px; border: 1px solid $lightgrey-color; text-align: left; padding: 0px 5px 0px 5px; }

.profileInputsTitle{ margin: 0 auto; font-size: 12px; }

.profileInputsValue{ margin: 0px; font-size: 15px; }

.appearanceBox{
  margin-bottom:20px;
  width: 100%;
  border: 1pt solid $lightgrey-color;
  background-color: #FFF;
  border-radius: 4pt;
}
.appearanceHeaderBox { height: 35%; width: 100%; background-color: #FFF;border-bottom: 1pt solid $lightgrey-color; border-radius: 4pt 4pt 0px 0px; padding: 10px; font-size: 13px; }

.appearanceHeaderBox .timeformat{
    font-weight: bold;
    line-spacing:14pt;
    margin: 0px;

}

.appearanceBox p.titlebox {
  color: $green-color;
  padding-top: 10px;
  font-weight: 700; 
  line-spacing:14pt;
  font-size: 13pt;
  margin-left: 10px;
}

.appearanceBox p.mailing {
  font-size: 6sp;
  color: #000000;
  font-family: "Montserrat";
  margin-left:5px;

  display: inline;
}

.divmailing{
  margin-left: 10px;
}

.divprice{
 margin-left: 10px; 
}

.appearanceBox p.price {
  font-size: 6sp;
  margin-bottom: 0px;
  display: inline;
  margin-left:5px;
}

div.right{
text-align: right;
}

.appearanceBox .apply-button{
    background-color: $green-color;
    border: none;
    border-radius: 17px;
    padding: 7px 40px;
    color: #FFF;
    margin: 10px;
    text-align: right;
    font-size: 14px;
    cursor: pointer;
}



.define-container-block{
  display:block
}
.define-container{
  width: 50%;
  float:left;
  display:inline-block;
}

.userDefineRole {
  height: 200px;
  width:95%;
  border-radius: 6px;
  border: 1px solid #E6E6E6;
  background: $white;
  margin: auto;
  padding-top: 75px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
  margin-bottom: 10px;
}

@media screen and (max-width:768px){
  .define-container{
    width:100%;
    display:block;
  }
  .noleftmargin{
    margin-left:0px;
    margin-right:0px;
  }
  .norightmargin{
    margin-right:0px;
    margin-left:0px;

  }
}
.noleftmargin{
  margin-left:0px;
}
.norightmargin{
  margin-right:0px;
}
.userDefineRoleText{
  font-size: 20px;
  text-align: center;
  margin: auto;
  color: $green-color;
  text-decoration: none;
}


// TimelineComponent
.fade.tab-pane.active.show div section div div div { width: 100%!important; padding: 0px!important; border-radius: 5px;}

.flex-space-between{display: flex; justify-content: space-between}
.flex-space-around{display: flex; justify-content: space-around}
.bold{font-weight: 500}

.moment{font-weight: 500; line-spacing:14pt; margin: 5px}
.areaOfLaw{font-weight: 600; margin: 5px; }

.areaoflaw{ width: 58px;
  height: 17px;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #1873f3;
  text-transform: uppercase;
  margin-right: 10px;
}

.agenda-rate-button{
  margin-top: 20px;
}

.paddingUpDown{
  padding: 20px 0px 20px 0px
}

.boxYear{font-weight: 500; line-spacing:14pt;margin: 5px}
.boxTitle{padding-top: 10px;font-weight: 700;line-spacing:14pt;font-size: 13pt}
.boxDescription{font-size: 12px; color: #000000;font-family: Montserrat}
.boxButton{text-align: right}
.boxButton button{margin: 0px 10px 10px 10px;padding:5px 35px 5px 35px}


.uploadLabel { cursor: pointer; text-decoration: underline; margin: 0px;}
.uploadLabel img { cursor: pointer; border-radius: 100%;  margin: 0px;
width: 75px;
height: 75px;
background-repeat:no-repeat;
background-position: center center;
background-size: cover;
 }

 .userIcon { cursor: pointer; border-radius: 100%;  margin: 0px;
width: 27px;
height: 27px;
background-repeat:no-repeat;
background-position: center center;
background-size: cover;
 }

.error {
  border: 1px solid #ff6b70;
  display: block; width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  height: calc(1.5em + 0.75rem + 2px);
  font-size: 1rem;line-height: 1.5;
  margin-bottom:10px;
  outline: none;
}

a:hover,a:focus{text-decoration: none!important; outline:none; color: $green-color}



input[type=password]{
  font-family: Tahoma;
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle{
  background-color: $green-color;
  width: auto;
  height: 40px;
  border-radius: 45px;
  color: #fff;
  padding: 12px 30px;
  border: none;
  line-height: 1;
  font-family: $font-family;
  margin: 0 auto;
}
.btn-primary:hover {
  background-color: $green-hover;
  border-color: transparent;
}
.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus,.btn-primary:focus, .btn-primary.focus{
  box-shadow:none;
}

label {
  cursor: pointer;

   /* Style as you please, it will become the visible UI component. */
}

#avatar { opacity: 0; position: absolute; z-index: -1;}


// Button toggle!
.switch-input {
  display: none;
}
.switch-label {
  position: relative;
  display: inline-block;
  min-width: 112px;
  cursor: pointer;
  font-weight: 500;
  text-align: left;
  padding: 23px 0 5px 44px;
}
.switch-label:before, .switch-label:after {
  content: "";
  position: absolute;
  margin: 0;
  outline: 0;
  top: 50%;
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.switch-label:before {
  left: 1px;
  width: 34px;
  height: 14px;
  background-color: $lightblue-color;
  border-radius: 8px;
}
.switch-label:after {
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #FAFAFA;
  border-radius: 50%;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084);
}
.react-date-picker__calendar-button {
  display: none
}


.react-date-picker__wrapper{
  width: 100%;
}
.react-date-picker__clear-button svg{
  display: none;
  margin-bottom: 20px;
}
.react-date-picker__clear-button:after {
  width: 100%;
  color: #aaa;
  font-size: 12px;
  content: "x";
}
.rc-time-picker-input{
  width: 100%;
  border: none;
  padding:0;
  font-size: 1rem;
}

.rc-time-picker-panel-inner{
  margin-top: 40px;
}
.react-datepicker-input input{
  width: 100%;
  border: none
}

.switch-label .toggle--on {
  display: none;
}
.switch-label .toggle--off {
  display: inline-block;
}
.switch-input:checked + .switch-label:before {
  background-color: $green-color;
}
.switch-input:checked + .switch-label:after {
  background-color: #FAFAFA;
  -ms-transform: translate(80%, -50%);
  -webkit-transform: translate(80%, -50%);
  transform: translate(80%, -50%);
}
.switch-input:checked + .switch-label .toggle--on {
  display: inline-block;
}
.switch-input:checked + .switch-label .toggle--off {
  display: none;
}


.background-esquired {
  width: 100%;
  height: auto;
  padding-bottom: 30px;
  background-image: linear-gradient(114deg, #4fefd9, #04be95);

}

.popup-desktop{
  height: 400px;
  text-align: center;
}

div.popup-content{
  width: 350px!important;
}

.img-landing0{
  text-align: center;
  float: left

}
.slogan{
    margin-top: 50px;
    font-family: 'Noto Sans HK', sans-serif;
    font-size: 20px;
    font-weight: lighter;
    color: #ffffff;
}


.solution-image{
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  width:100%;
  height:200px;
}
.solution-title {
  color: black;
  font-weight: bold;
  font-size: 16px;
  margin: 10px auto;
}
.solution-desc {
  margin: 10px auto;
  font-size: 12px;
  color: $text-normal;
}
.margin-sides{
  margin: 0% 15% 0 15%;
  padding-top: 4%;
}

.react-datepicker__input-container{
  width: 100%;
}
.react-datepicker-wrapper{
  width: 100%;
}

.wizard-btn {
  min-width:280px;
}

.registerModal{
  height: auto;
  width: 350px!important;
  padding:35px!important;
}

  .Modal {
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    background-color: papayawhip;
  }

.link-button {
    background-color: $green-color;
    width: auto;
    height: 40px;
    border-radius: 45px;
    color: #fff;
    padding: 12px 30px;
    border: none;
    line-height: 1;
    font-family: $font-family;
    margin: 0 auto;
}

.link-button:hover{
  color: #fff
}


.solutions{
  text-align: center;
  margin:0 10% 0 10%;
}

.solutions h2{
  padding: 40px
}
.solution-cont {
  display:block;
  width:100%;
}
.solutions-square{
  height: auto;
  border-radius: 6px;
  border: solid 1px #e7ecee;
  background-color: #ffffff;
  margin:10px;
  padding:20px;
}
.solutions-square-item {
  width: 33.33%;
  display:inline-block;
  float:left;
}

.register-as-image {
  width: auto;
  max-width: 200px;
}

.features{
  background-color: #000;
  text-align: center;
  padding: 0 10% 0 10%;
}

.features h3{
  color: #FFF;
  padding: 70px;
}

.features-square {
  padding-top: 30px;
  height: auto;
  padding-bottom: 30px;
  margin-bottom: 20px;
  border-radius: 6px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #ffffff;
}

.features-square h5{
  padding-top: 20px;
  font-size: 1em;
  font-weight: bold;
}

.features-square p{
  font-weight: lighter;
  margin: 10px;
  font-size: 13px;
  color: grey;
}

.flex-justify-center{
  align-items: center;
  justify-content: center;
}

.registeras{
  text-align: center;
  background: $white;
}

.registeras h3{
  padding: 70px
}

.registeras a{
  margin-left:5px;
  margin-right:5px;
}
.registeras-square{
  margin: 0 auto;
  margin-bottom: 40px;
  width: auto;
  height: auto;
  border-radius: 6px;
  border: solid 0px #e7ecee;
  background-color: #ffffff;
}

.registeras button{
  background-color: $green-color;
  width: 310px;
  height: 50px;
  border-radius: 25px;
  color: #fff
}

.formbutton{
  background-color: $green-color;
  width: 310px;
  height: 50px;
  border-radius: 25px;
  color: #fff;
  border-style: none;
}


.padding-bottom-guest {
  padding-bottom: 80px
}

.footer-guest{
  background-color: #000;
  margin: 0 auto;
  padding-top:20px;
  text-align: center;
}

.footer-shape{
  display: inline-block;
  margin: 0px 16px 0 16px;
  border-radius: 5px;
  width: 36.8px;
  height: 36.9px;
  background-color: inherit;
}

.footer-guest h3{
  color: #FFF;
  margin: 0px;
}

.recoverPassModal{
    padding: 30px;
    text-align: center;
}

.recoverPassButton{
  margin-top: 40px
}

@media (max-width: 992px){
    .margin-sides{
      margin: 0% 5% 0 5%;
      padding-top: 4%;
    }
}
@media (min-width: 992px){
  .container {
    max-width:800px!important;
  }
}
@media (min-width: 1200px){
  .container {
    max-width:800px;
  }
}

.img-landing0{
  margin:0 auto;
  text-align: center;
  max-width: 400px;
  width: 100%;
}
@media screen and (max-width:768px){
  body {
    background-color: $background-grey;
  }

  .slogan {
    display: inline-block;
  }

  .solutions-square-item {
    width: 100%;
    display:block;
    float:none;
  }

  .margin-sides{
    margin: 0% 5% 0 5%;
    padding-top: 12%;
  }
  .flex-space-around{
      display: block;
  }
  div.img-landing{
    display: block;
    text-align: center;
    width: 100%;
    position: relative;
    clear:both;
  }
  .first-paragraph{
    clear:both;
    font-weight: normal;
    display: block;
  }
  
  .mobile{
    display: block
  }

  .desktop{
    display: none;
  }

  .img-landing{
    float: none
  }

  .link-button{
    display: block;
    margin-top:15px
  }

  .features h3{
    padding: 40px 0 40px ;
    text-align: center;
  }

  .features-square{
    height: 110px;
    padding-top:20px
  }

  .features-square img{
    width: 52px;
    float:left;
    margin-left: 15px
  }

  .features-square h5{
    padding: 0
  }

  .features-square p{
    padding: 0
  }  

.whitebackground .carousel-indicators li {
    display: inline-block;
    background-color: $green-color;
    border-radius: 2px;
}
.whitebackground .carousel-indicators .active {
    background-color: $green-color;
    opacity: 20%;
}


}


.carousel-indicatiors li{
  height: 4px;
}





@media (max-width: 525px){
.appearanceBox .apply-button{
    background-color: $green-color;
    border: none;
    border-radius: 17px;
    padding: 3px 30px;
    color: #FFF;
    margin: 10px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
}
}


